@charset "UTF-8";
html {
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 18px;
  }
}
@media screen and (max-width: 430px) {
  html {
    font-size: 16px;
  }
}

body {
  background: #fff;
  color: #716A67;
  font-family: "Fredericka the Great", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Noto Serif JP", serif;
  font-family: "Sawarabi Gothic", sans-serif;
}

a {
  color: #716A67;
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

li {
  list-style: none;
}

.ly-cont {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .ly-cont {
    max-width: none;
    padding: 0 3em;
  }
}
@media screen and (max-width: 430px) {
  .ly-cont {
    padding: 0 1em;
  }
}

.header {
  background: #EAD7CC;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  font-family: "Noto Sans JP", sans-serif;
  height: 6rem;
  width: 100%;
  padding: 0 6rem;
  min-height: 60px;
  position: fixed;
  top: 0;
  z-index: 999;
  /*ハンバーガーメニュー*/
}
@media screen and (max-width: 1024px) {
  .header {
    padding-left: 0.2rem;
    padding-right: 6rem;
  }
}
@media screen and (max-width: 430px) {
  .header {
    padding-left: 0.1rem;
    padding-right: 6rem;
    width: 100vw;
  }
}
.header__wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 5%;
  padding: 1rem 0;
}
.header__wrap__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.header__wrap__logo__upper {
  font-size: 2rem; /*40px*/
  font-weight: bold;
  letter-spacing: -0.1em;
  line-height: 2.5rem;
}
@media screen and (max-width: 834px) {
  .header__wrap__logo__upper {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  .header__wrap__logo__upper {
    font-size: 1.4rem;
  }
}
.header__wrap__logo__lower {
  font-size: 1.2rem; /*24px*/
  font-weight: bold;
  line-height: 1.5rem;
}
@media screen and (max-width: 430px) {
  .header__wrap__logo__lower {
    font-size: 1rem;
  }
}
.header__wrap__btn {
  background: #CF9F96;
  box-shadow: 0 4px 15px 0 #fff;
  font-size: 1.2rem;
  font-weight: 700;
  height: 100%;
  text-align: center;
  line-height: 1.2;
  padding: 0.2rem 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .header__wrap__btn {
    font-size: 1rem;
  }
}
@media screen and (max-width: 834px) {
  .header__wrap__btn {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 430px) {
  .header__wrap__btn {
    font-size: 0.6rem;
  }
}
.header__wrap__btn a {
  color: #fff;
}
.header__menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  /*MENUボタン*/
  /*メニュー表示*/
}
.header__menu__openbtn {
  background: #716A67;
  width: 6rem;
  height: 6rem;
  min-width: 60px;
  min-height: 60px;
  cursor: pointer;
  position: relative;
  top: 0;
  right: 0;
  z-index: 9999;
}
.header__menu__openbtn__item {
  display: block;
  margin: 1rem;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  position: absolute;
  z-index: 9999;
}
.header__menu__openbtn__item span {
  color: #fff;
  display: inline-block;
  width: 100%;
  transition: all 0.4s;
  position: absolute;
}
.header__menu__openbtn__item span:nth-of-type(1) {
  background: #fff;
  border-radius: 9999px;
  display: block;
  height: 0.5rem;
  top: 0;
}
.header__menu__openbtn__item span:nth-of-type(3) {
  background: #fff;
  border-radius: 9999px;
  display: block;
  height: 0.5rem;
  bottom: 0;
}
.header__menu__openbtn__item span:nth-of-type(2) {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__menu__openbtn.active2 span:nth-of-type(1) {
  opacity: 1;
  transform: translateY(2rem) rotate(-45deg);
}
.header__menu__openbtn.active2 span:nth-of-type(3) {
  opacity: 1;
  transform: translateY(-1.5rem) rotate(45deg);
}
.header__menu__openbtn.active2 span:nth-of-type(2) {
  opacity: 0;
}
.header__menu__nav {
  background: #716A67;
  font-family: "Noto Sans JP", sans-serif;
  position: fixed;
  top: -120%;
  right: 0;
  width: 40%;
  height: 100vh;
  overflow-y: auto;
  z-index: 999;
  transition: all 0.6s;
}
.header__menu__nav__list {
  width: 100%;
  height: 100%;
  padding-top: 8em;
  padding-bottom: 1.25em;
  margin-left: auto;
  position: relative;
  z-index: 999;
}
.header__menu__nav__list__item {
  text-align: center;
  list-style: none;
  padding: 0 1.25em;
}
.header__menu__nav__list__item a {
  color: #fff;
  border-bottom: 1px solid;
  display: block;
  font-size: 100%;
  font-feature-settings: "palt";
  letter-spacing: -0.05em;
  padding: 0.75em 0;
}
.header__menu__nav__list__item:first-child a {
  border-top: 1px solid;
}
.header__menu__nav.panelactive {
  top: 0;
}

.mv {
  margin-top: 6rem;
  width: 100%;
  height: 50vw;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 430px) {
  .mv {
    height: 138.5vw;
  }
}
.mv__text {
  font-family: "Noto Serif JP", serif;
  width: 100%;
  height: 100%;
  padding: 5vw;
  position: absolute;
  top: 0;
}
@media screen and (max-width: 430px) {
  .mv__text {
    padding: 5vw;
  }
}
.mv__text__catch {
  padding: 1rem 1.2rem;
  z-index: 888;
}
@media screen and (max-width: 430px) {
  .mv__text__catch {
    width: 100%;
    top: 65px;
  }
}
.mv__text__catch__main {
  color: #c78f85;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 1px 1px 0 #EAD7CC, -1px -1px 0 #EAD7CC, -1px 1px 0 #EAD7CC, 1px -1px 0 #EAD7CC, 0px 1px 0 #EAD7CC, 0 -1px 0 #EAD7CC, -1px 0 0 #EAD7CC, 1px 0 0 #EAD7CC;
}
@media screen and (max-width: 430px) {
  .mv__text__catch__main {
    font-size: 7.5vw;
  }
}
.mv__text__catch__sub {
  color: #716A67;
  font-size: 2.3vw;
  font-weight: bold;
}
@media screen and (max-width: 430px) {
  .mv__text__catch__sub {
    font-size: 5vw;
  }
}
.mv__text__strength {
  width: 50%;
  z-index: 888;
}
@media screen and (max-width: 430px) {
  .mv__text__strength {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-top: 50vw;
  }
}
.mv__text__strength__fix {
  width: 100%;
  background-image: linear-gradient(to right, #dfbfb9, #CF9F96, #c78f85, #dbbba8);
  box-shadow: 0 0 10px 5px #EAD7CC inset;
  color: #fff;
  font-size: 1.6vw;
  font-weight: normal;
  display: block;
  text-align: center;
  padding: 0.5vw 0;
  margin-top: 1.4vw;
  margin-bottom: 1.4vw;
}
@media screen and (max-width: 430px) {
  .mv__text__strength__fix {
    font-size: 3.5vw;
    margin-left: auto;
    margin-right: auto;
  }
}
.mv__text__strength__list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 430px) {
  .mv__text__strength__list {
    margin-top: 2vw;
    width: 100%;
  }
}
.mv__text__strength__list__item {
  background-image: linear-gradient(to right, #dfbfb9, #CF9F96, #c78f85, #dbbba8);
  border-radius: 50%;
  box-shadow: 0 0 10px 15px #EAD7CC inset;
  color: #fff;
  font-size: 1.6vw;
  font-weight: normal;
  display: block;
  text-align: center;
  width: 13vw;
  height: 13vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 430px) {
  .mv__text__strength__list__item {
    border-radius: 12.5vw;
    font-size: 3vw;
    width: 25vw;
    height: 25vw;
  }
}
.mv__img {
  width: 100%;
  height: 50vw;
}
@media screen and (max-width: 430px) {
  .mv__img {
    height: 100%;
  }
}
.mv__img img {
  width: 100%;
  height: 100%;
}
.mv__img .pc {
  /* パソコンで見たときは"pc"のclassがついた画像が表示される */
  display: block !important;
  /* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
}
@media screen and (max-width: 430px) {
  .mv__img .pc {
    display: none !important;
  }
}
.mv__img .sp {
  /* パソコンで見たときは"pc"のclassがついた画像が表示される */
  display: none !important;
  /* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
}
@media screen and (max-width: 430px) {
  .mv__img .sp {
    display: block !important;
  }
}

.coupon {
  margin: 100px 0;
}
@media screen and (max-width: 430px) {
  .coupon {
    margin: 50px 0;
  }
}
.coupon__inner {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}
@media screen and (max-width: 430px) {
  .coupon__inner {
    height: auto;
  }
}

.sec-title {
  font-family: "Fredericka the Great", serif;
  font-size: 2.4rem; /*48px*/
  font-weight: 400;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.1em;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 0.5rem; /*10px*/
}
@media screen and (max-width: 430px) {
  .sec-title {
    font-size: 1.8rem;
  }
}
.sec-title__sub {
  font-family: "Noto Serif JP", serif;
  font-size: 1.2rem; /*24px*/
  letter-spacing: 0.1em;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 2.5rem; /*50px*/
}
@media screen and (max-width: 430px) {
  .sec-title__sub {
    font-size: 1rem;
  }
}

.worries {
  margin: 5rem 0;
}
.worries__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 2.5rem;
}
.worries__wrap__item {
  width: 22%;
  margin-bottom: 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .worries__wrap__item {
    width: 47%;
    margin-bottom: 1rem;
  }
}
.worries__wrap__item__img {
  height: 180px;
  margin-bottom: 1rem;
}
.worries__wrap__item__img img {
  height: 100%;
}
@media screen and (max-width: 768px) {
  .worries__wrap__item__img {
    margin-bottom: 15px;
  }
}
.worries__wrap__item .dark-img {
  background-color: #aaabab;
  box-shadow: inset 0 0 10px 5px #fff;
  padding: 0.6rem;
}
.worries__wrap__item .bright-img {
  background-color: #fcf7b0;
  box-shadow: inset 0 0 10px 5px #fff;
  padding: 0.6rem;
}
.worries__wrap__item__text {
  font-family: "Noto Serif JP", serif;
  font-size: 1.2rem; /*24px*/
  font-weight: 700;
  line-height: 1.6;
}
.worries__title {
  font-size: 1.2rem; /*24px*/
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 2.5rem;
}

.art-make {
  background-color: #EAD7CC;
  padding: 5rem 0;
}
.art-make__technique__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 768px) {
  .art-make__technique__wrap {
    margin-bottom: 1rem;
  }
}
.art-make__technique__wrap__item {
  background: #fff;
  width: 32%;
  margin-bottom: 0;
  padding: 2rem; /*40px*/
  text-align: center;
}
@media screen and (max-width: 768px) {
  .art-make__technique__wrap__item {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.art-make__technique__wrap__item__title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.art-make__technique__wrap__item__text {
  font-size: 1rem; /*20px*/
  font-family: "Sawarabi Gothic", sans-serif;
  line-height: 1.6;
  text-align: left;
}
.art-make__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Noto Sans JP", sans-serif;
  max-width: 100%;
  padding-bottom: 2.5rem;
}
@media screen and (max-width: 768px) {
  .art-make__wrap {
    margin-bottom: 1rem;
  }
}
.art-make__wrap:last-child {
  padding-bottom: 0;
}
@media screen and (max-width: 768px) {
  .art-make__wrap:last-child {
    flex-direction: column-reverse;
    margin-bottom: 0;
  }
}
.art-make__wrap__img {
  width: 50%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .art-make__wrap__img {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.art-make__wrap__img img {
  width: 100%;
  height: 100%;
}
.art-make__wrap__text {
  background-color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  padding: 2rem;
  width: 47%;
}
@media screen and (max-width: 768px) {
  .art-make__wrap__text {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.art-make__wrap__text__title {
  font-family: "Noto Serif JP", serif;
  font-size: 1.6rem; /*32px*/
  font-weight: 900;
  line-height: 1.6;
  padding-bottom: 1rem;
}
@media screen and (max-width: 430px) {
  .art-make__wrap__text__title {
    font-size: 1.2rem;
  }
}
.art-make__wrap__text__info {
  font-family: "Sawarabi Gothic", sans-serif;
  font-size: 1rem; /*20px*/
  line-height: 1.6;
}

.ideal-eyeblow {
  padding: 5rem 0;
}
.ideal-eyeblow__wrap {
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 2.5rem;
}
.ideal-eyeblow__wrap__item {
  border: 1px solid #716A67;
  width: 24%;
  height: auto;
  margin-bottom: 0;
  padding: 1.5rem;
  text-align: center;
}
@media screen and (max-width: 834px) {
  .ideal-eyeblow__wrap__item {
    width: 47%;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 430px) {
  .ideal-eyeblow__wrap__item {
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .ideal-eyeblow__wrap__item:last-child {
    margin-bottom: 0;
  }
}
.ideal-eyeblow__wrap__item__title {
  font-family: "Noto Serif JP", serif;
  font-size: 1.2rem; /*24px*/
  font-weight: 700;
  line-height: 1.6;
  padding-bottom: 1rem;
}
.ideal-eyeblow__wrap__item__img {
  padding-bottom: 1rem;
}
.ideal-eyeblow__wrap__item__text {
  font-family: "Sawarabi Gothic", sans-serif;
  font-size: 1rem; /*20px*/
  line-height: 1.6;
  text-align: start;
}

.strength {
  background-color: #EAD7CC;
  padding: 5rem 0;
}
.strength__inner {
  max-width: 1024px;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  .strength__inner {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 768px) {
  .strength__inner {
    margin-left: auto;
    margin-right: auto;
  }
}
.strength__wrap {
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .strength__wrap {
    flex-wrap: nowrap;
    width: 100vw;
  }
}
.strength__wrap__item {
  display: flex;
  display: -ms-flexbox;
  -ms-align-items: start;
  align-items: flex-start;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 768px) {
  .strength__wrap__item {
    display: block;
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;
    flex: none;
  }
}
.strength__wrap__item__img {
  display: block;
  width: 58%;
  height: 450px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .strength__wrap__item__img {
    width: 100%;
    height: 50vw;
  }
}
.strength__wrap__item__img.odd-img {
  display: flex;
  order: 1;
}
@media screen and (max-width: 768px) {
  .strength__wrap__item__img.odd-img {
    margin-right: 3em;
    width: 100%;
  }
}
.strength__wrap__item__img.even-img {
  display: flex;
  order: 2;
}
@media screen and (max-width: 768px) {
  .strength__wrap__item__img.even-img {
    margin-left: 3em;
    width: 100%;
  }
}
.strength__wrap__item__img.org-01 {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .strength__wrap__item__img.org-01 {
    width: 60vw;
    height: auto;
  }
}
.strength__wrap__item__img img {
  max-height: 100%;
  width: 100%;
  height: auto;
  height: -webkit-fill-available;
}
.strength__wrap__item__text {
  color: #716A67;
  background-color: #fff;
  letter-spacing: 0.18em;
  flex: 1;
  padding: 2.5rem; /*50px*/
  position: relative;
  z-index: 1;
}
.strength__wrap__item__text.strength-long {
  min-height: 18rem;
  height: auto;
}
.strength__wrap__item__text.strength-short {
  min-height: 16.5rem;
  height: auto;
}
@media screen and (max-width: 768px) {
  .strength__wrap__item__text {
    width: calc(100vw - 3em);
  }
}
.strength__wrap__item__text.odd-text {
  margin: 4.5rem 0 0 -5rem; /*90px,0,0,-100px*/
  order: 2;
}
@media screen and (max-width: 768px) {
  .strength__wrap__item__text.odd-text {
    margin: -0.5rem 0 0 3em;
    width: auto;
  }
}
.strength__wrap__item__text.odd-text-first {
  margin: 4.5rem 0 0 -2rem;
}
@media screen and (max-width: 768px) {
  .strength__wrap__item__text.odd-text-first {
    margin: -0.5rem 0 0 3em;
  }
}
.strength__wrap__item__text.even-text {
  margin: 4.5rem -5rem 0 0; /*90px,-100px,0,0*/
  order: 1;
}
@media screen and (max-width: 768px) {
  .strength__wrap__item__text.even-text {
    margin: -0.5rem 3em 0 0;
    width: auto;
  }
}
.strength__wrap__item__text__num {
  font-size: 3.2rem; /*64px*/
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  position: absolute;
  top: -1.5rem;
}
@media screen and (max-width: 430px) {
  .strength__wrap__item__text__num {
    left: 1.9rem;
  }
}
.strength__wrap__item__text__title {
  font-family: "Noto Serif JP", serif;
  font-size: 1.2rem; /*24px*/
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 1em;
}
.strength__wrap__item__text p {
  font-family: "Sawarabi Gothic", sans-serif;
  font-size: 1rem;
}

.price {
  padding-bottom: 5rem;
  width: 100%;
}
.price__text {
  font-size: 1rem; /*20px*/
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  line-height: 1.8;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 430px) {
  .price__text {
    font-size: 0.8rem;
  }
}
.price table {
  border-spacing: 0;
}
.price .teble-default {
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
}
@media screen and (max-width: 430px) {
  .price .teble-default tbody {
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 430px) {
  .price .teble-default tbody tr {
    width: 100%;
    display: flex;
  }
}
.price .teble-default tbody tr td {
  padding: 0.5rem 0; /*10px 0*/
  text-align: center;
  width: 25%;
}
@media screen and (max-width: 430px) {
  .price .teble-default tbody tr td {
    padding: 1rem 0;
    width: 100%;
  }
}
.price .teble-default tbody tr td p {
  font-size: 1rem; /*20px*/
  font-weight: 700;
  text-align: center;
  line-height: 2em;
}
.price .teble-default tbody tr th {
  font-size: 1rem; /*20px*/
  font-weight: 700;
  padding: 0.5rem 0; /*10px 0*/
  text-align: center;
  width: 25%;
}
@media screen and (max-width: 430px) {
  .price .teble-default tbody tr th {
    width: 33.33%;
  }
}
.price .teble-default tbody .num td {
  font-size: 1.6rem; /*32px*/
  font-weight: 700;
  line-height: 1.6;
  padding: 1.3rem 0; /*26px 0*/
}
@media screen and (max-width: 430px) {
  .price .teble-default tbody .num td {
    font-size: 1.2rem;
  }
}
.price__table01 {
  margin-bottom: 2.5rem; /*50px*/
}
.price__table01__title {
  margin-bottom: 1rem; /*20px*/
  font-size: 1.6rem; /*32px*/
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
}
@media screen and (max-width: 430px) {
  .price__table01__title {
    font-size: 1.2rem;
  }
}
.price__table01__headline {
  width: 100%;
}
.price__table01__headline thead {
  background: #716A67;
  color: #fff;
}
.price__table01__headline thead th {
  padding: 0.5rem; /*10px*/
  font-size: 1rem; /*20px*/
}
.price__table01__item .kinds td:first-child {
  background: #f1e5de;
}
.price__table01__item .kinds td p {
  background-color: #EAD7CC;
  margin-top: -15%;
}
@media screen and (max-width: 430px) {
  .price__table01__item .kinds td p {
    margin-top: 0;
  }
}
.price__table01__item .course th:nth-child(odd) { /*奇数*/
  background: #f1e5de;
}
.price__table01__item .course th:nth-child(even) {
  border-top: 0.2rem solid #f1e5de;
  border-bottom: 0.2rem solid #f1e5de;
}
.price__table01__text {
  font-size: 1rem; /*20px*/
  line-height: 1.6;
  margin-top: 2rem; /*40px*/
}
@media screen and (max-width: 430px) {
  .price__table01__text {
    font-size: 0.8rem;
  }
}
.price__table02 {
  margin-bottom: 2.5rem; /*50px*/
}
.price__table02__title {
  text-align: center;
  margin-bottom: 1rem; /*20px*/
}
.price__table02__title__trainee {
  font-size: 1.6rem; /*32px*/
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 1rem; /*20px*/
}
@media screen and (max-width: 430px) {
  .price__table02__title__trainee {
    font-size: 1.2rem;
  }
}
.price__table02__title__text {
  font-size: 1rem; /*20px*/
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
}
@media screen and (max-width: 430px) {
  .price__table02__title__text {
    font-size: 0.8rem;
  }
}
.price__table02__headline {
  width: 100%;
}
.price__table02__headline thead {
  background: #fff;
  color: #716A67;
}
.price__table02__headline thead th {
  padding: 0.3rem 0.5rem; /*10px*/
  font-size: 1rem; /*20px*/
  border-top: 0.2rem solid #716A67;
  border-bottom: 0.2rem solid #716A67;
}
.price__table02__item .kinds td {
  border-top: 0.2rem solid #f1e5de;
}
.price__table02__item .kinds td:first-child {
  background: #fff;
}
.price__table02__item .kinds td p {
  background-color: #f1e5de;
  margin-top: -7%;
}
@media screen and (max-width: 430px) {
  .price__table02__item .kinds td p {
    margin-top: 0;
  }
}
.price__table02__item .course th:nth-child(odd) { /*奇数*/
  border-top: 0.2rem solid #f1e5de;
  border-bottom: 0.2rem solid #f1e5de;
}
.price__table02__item .course th:nth-child(even) {
  background: #f1e5de;
}
.price__table03__title {
  margin-bottom: 2rem; /*40px*/
}
.price__table03__title__trainee {
  font-size: 1.6rem; /*32px*/
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 2rem; /*40px*/
  text-align: center;
}
@media screen and (max-width: 430px) {
  .price__table03__title__trainee {
    font-size: 1.2rem;
  }
}
.price__table03__title__text {
  font-size: 1rem; /*20px*/
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.8;
  text-align: center;
}
@media screen and (max-width: 430px) {
  .price__table03__title__text {
    font-size: 0.8rem;
  }
}
.price__table03__wrap {
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .price__table03__wrap {
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    scroll-snap-type: x; /*横方向にスクロール*/
  }
}
.price__table03__item01 {
  border-bottom: 0.4rem solid #fff;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .price__table03__item01 {
    display: block;
    width: auto;
    flex: none;
    white-space: nowrap;
  }
}
.price__table03__item01 tr td {
  text-align: center;
  width: 25%;
}
@media screen and (max-width: 834px) {
  .price__table03__item01 tr td {
    width: 9rem;
    white-space: nowrap;
  }
}
.price__table03__item01 tr th {
  text-align: center;
  width: 25%;
}
@media screen and (max-width: 834px) {
  .price__table03__item01 tr th {
    width: 9rem;
    white-space: nowrap;
  }
}
.price__table03__item01 .headline {
  background-color: #EAD7CC;
}
.price__table03__item01 .headline td:first-child {
  background-color: #fff;
}
.price__table03__item01 .headline th {
  border-right: 0.2rem solid #fff;
  font-size: 1rem; /*20px*/
  font-weight: 700;
  height: 5rem;
  padding: 0.5rem;
}
@media screen and (max-width: 834px) {
  .price__table03__item01 .headline th {
    white-space: nowrap;
  }
}
.price__table03__item01 .num td {
  background-color: #fff;
  color: #716A67;
  border-right: 0.2rem solid #EAD7CC;
  border-bottom: 0.2rem solid #EAD7CC;
  font-size: 1.2rem; /*24px*/
  font-weight: 700;
  height: 9rem;
  padding: 0.5rem; /*10px*/
}
.price__table03__item01 .num td:last-child {
  border-right: 0.2rem solid #fff;
}
.price__table03__item01 .num td .sub-text {
  font-size: 0.8rem; /*16px*/
  font-weight: 400;
  line-height: 1.2;
}
.price__table03__item01 .num th {
  background-color: #716A67;
  color: #fff;
  border-right: 0.2rem solid #EAD7CC;
  border-bottom: 0.2rem solid #EAD7CC;
  font-size: 1rem; /*20px*/
  font-weight: 700;
  padding: 0.5rem; /*10px*/
}
.price__table03__item01 .num .empty {
  background-color: #fff;
}
.price__table03__item02 {
  border-left: 0.4rem solid #CF9F96;
  border-right: 0.4rem solid #CF9F96;
  border-bottom: 0.4rem solid #CF9F96;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .price__table03__item02 {
    display: block;
    width: auto;
    flex: none;
    white-space: nowrap;
  }
}
.price__table03__item02 tr td {
  text-align: center;
  width: 25%;
}
@media screen and (max-width: 834px) {
  .price__table03__item02 tr td {
    width: 9rem;
    white-space: nowrap;
  }
}
.price__table03__item02 tr th {
  text-align: center;
  width: 25%;
}
@media screen and (max-width: 834px) {
  .price__table03__item02 tr th {
    width: 9rem;
    white-space: nowrap;
  }
}
.price__table03__item02 .headline-upper th {
  background-color: #CF9F96;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  height: 3rem;
  padding: 0.5rem; /*10px*/
  white-space: nowrap;
}
.price__table03__item02 .headline-under th {
  border-right: 0.2rem solid #efdfdc;
  font-size: 1rem;
  font-weight: 400;
  height: 2rem;
  line-height: 1;
  padding: 0.5rem; /*10px*/
}
.price__table03__item02 .headline-under th:last-child {
  border-right: 0;
}
@media screen and (max-width: 834px) {
  .price__table03__item02 .headline-under th {
    white-space: nowrap;
  }
}
.price__table03__item02 .num td {
  background-color: #efdfdc;
  border-right: 0.2rem solid #fff;
  border-bottom: 0.2rem solid #fff;
  color: #716A67;
  font-weight: 700;
  height: 9rem;
}
.price__table03__item02 .num td:first-child {
  font-size: 1.4rem; /*28px*/
}
.price__table03__item02 .num td:last-child {
  border-right: 0;
}
.price__table03__item02 .num td:last-child p {
  font-size: 1.2rem; /*24px*/
}
.price__table03__item02 .num td:last-child p span {
  font-size: 0.8rem; /*16px*/
  padding-right: 0.5rem; /*10px*/
}
.price__table03__item02 .num td .sub-text {
  font-size: 0.8rem; /*16px*/
  font-weight: 400;
  line-height: 1.2;
}
.price__table03__item02 .num:last-child td {
  border-bottom: 0;
}
.price__table03__item02 .num .empty {
  background-color: #fff;
}
.price__table03__text {
  align-items: center;
  font-size: 1rem; /*20px*/
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
  margin-top: 2rem; /*40px*/
}
@media screen and (max-width: 430px) {
  .price__table03__text {
    font-size: 0.8rem;
  }
}

.flow {
  background-color: #EAD7CC;
  padding: 5rem 0;
}
.flow__wrap {
  font-family: "Noto Sans JP", sans-serif;
  display: block;
}
@media screen and (max-width: 834px) {
  .flow__wrap {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .flow__wrap {
    display: flex;
    flex-wrap: nowrap;
  }
}
.flow__wrap__item {
  background-color: #fff;
  display: flex;
  margin-bottom: 2.5rem;
  padding: 2.5rem; /*50px*/
  width: auto;
  height: auto;
  min-height: 22vw;
}
@media screen and (max-width: 1024px) {
  .flow__wrap__item {
    height: auto;
    min-height: 50vw;
    padding: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .flow__wrap__item {
    display: block;
    min-height: 120vw;
    width: calc(100% - 3em);
    margin-right: 3em !important;
    margin-bottom: 1rem;
  }
}
.flow__wrap__item__img {
  width: 45%;
}
@media screen and (max-width: 1024px) {
  .flow__wrap__item__img {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .flow__wrap__item__img {
    width: 100%;
  }
}
.flow__wrap__item__img img {
  width: auto;
  height: 100%;
}
.flow__wrap__item__text {
  padding-left: 1rem;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .flow__wrap__item__text {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .flow__wrap__item__text {
    padding-top: 1rem;
    padding-left: 0;
    width: 100%;
  }
}
.flow__wrap__item__text__title {
  font-family: "Noto Serif JP", serif;
  font-size: 1.6rem; /*32px*/
  font-weight: 700;
  padding: 1em;
  position: relative;
}
@media screen and (max-width: 768px) {
  .flow__wrap__item__text__title {
    padding: 20px 0;
    width: auto;
  }
}
@media screen and (max-width: 430px) {
  .flow__wrap__item__text__title {
    font-size: 1.2rem;
  }
}
.flow__wrap__item__text__title span {
  padding-left: 2.5rem;
  position: relative;
  z-index: 80;
}
@media screen and (max-width: 430px) {
  .flow__wrap__item__text__title span {
    padding-left: 0;
  }
}
.flow__wrap__item__text__title::before {
  color: #d7afa8;
  font-size: 2.9rem; /*58px*/
  font-weight: 700;
  content: attr(data-number);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 70;
}
@media screen and (max-width: 430px) {
  .flow__wrap__item__text__title::before {
    font-size: 2.2rem;
  }
}
.flow__wrap__item__text p {
  font-family: "Sawarabi Gothic", sans-serif;
  font-size: 1.2rem; /*24px*/
  text-align: start;
}
@media screen and (max-width: 430px) {
  .flow__wrap__item__text p {
    font-size: 1rem;
  }
}

.gallery {
  padding: 5rem 0;
}
.gallery__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .gallery__inner {
    display: block;
    flex-wrap: nowrap;
  }
}
.gallery__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  /* 画像を拡大 */
}
@media screen and (max-width: 768px) {
  .gallery__wrap {
    width: 100vw;
    display: block;
    flex-wrap: nowrap;
    justify-content: start;
  }
}
.gallery__wrap__item {
  width: 30%;
}
@media screen and (max-width: 768px) {
  .gallery__wrap__item {
    width: 100%;
  }
}
.gallery__wrap__item img {
  width: auto;
  height: auto;
}
.gallery__wrap .zoomIn a:hover img {
  transform: scale(1.2);
}
.gallery__wrap .zoomIn img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.gallery__wrap .zoomIn .mask {
  display: block;
  line-height: 0;
  overflow: hidden;
}

.contact {
  background-color: #EAD7CC;
  padding: 5rem 0;
  text-align: center;
}
.contact__info {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.contact__info__text {
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 2rem;
}
.contact__info__text p {
  font-size: 1.4rem; /*24px*/
  font-weight: 700;
}
.contact__info__text .emphasis {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, #CF9F96 70%);
}
.contact__info__btn {
  border: 3px solid #CF9F96;
  border-radius: 9999px;
  box-shadow: 0 4px 15px 0 #CF9F96;
  display: inline-block;
  font-size: 1.4rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  padding: 1rem 5rem;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  /*アニメーションの起点とするためrelativeを指定*/
  position: relative;
  overflow: hidden;
  /*アニメーションの指定*/
  transition: ease 0.2s;
}
.contact__info__btn:hover span {
  color: #fff;
}
@media screen and (max-width: 430px) {
  .contact__info__btn {
    font-size: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.contact__info__btn span {
  position: relative;
  z-index: 30; /*z-indexの数値をあげて文字を背景よりも手前に表示*/
  color: #fff;
}
.contact .bgcentery {
  background-image: linear-gradient(to right, #dfbfb9, #CF9F96, #c78f85, #dbbba8);
}
.contact .bgcentery:before {
  content: "";
  position: absolute; /*絶対配置で位置を指定*/
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #716A67;
  width: 100%;
  height: 100%;
  /*アニメーション*/
  transition: transform 0.3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(1, 0);
  transform-origin: center;
}
.contact .bgcentery:hover:before {
  transform: scale(1, 1);
}

.store-info {
  padding: 5rem 0;
}
.store-info__wrap {
  font-family: "Sawarabi Gothic", sans-serif;
  width: 100%;
  margin-bottom: 5rem;
}
.store-info__wrap__title {
  font-size: 1.6rem; /*32px*/
  margin-bottom: 2rem; /*40px*/
  text-align: center;
}
.store-info__wrap__info {
  display: flex;
  margin-bottom: 5rem; /*100px*/
}
@media screen and (max-width: 1024px) {
  .store-info__wrap__info {
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
  }
}
.store-info__wrap__info__img {
  width: 40%;
  height: auto;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .store-info__wrap__info__img {
    width: auto;
    height: 50vw;
    margin-bottom: 1.5rem;
  }
}
.store-info__wrap__info__img img {
  height: 100%;
}
.store-info__wrap__info__text {
  font-size: 1.2rem; /*24px*/
  width: 60%;
  padding-left: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .store-info__wrap__info__text {
    width: auto;
    padding-left: 0;
  }
}
.store-info__wrap__info__text .address {
  padding: 1rem;
}
.store-info__wrap__info__text .address p span {
  font-weight: bold;
}
@media screen and (max-width: 430px) {
  .store-info__wrap__info__text .address p:not(:first-child) {
    text-indent: 0;
  }
}
.store-info__wrap__info__text .tel {
  padding: 1rem;
}
.store-info__wrap__info__text .tel p span {
  font-weight: bold;
}
@media screen and (max-width: 430px) {
  .store-info__wrap__info__text .tel p:not(:first-child) {
    text-indent: 0;
  }
}
.store-info__wrap__info__text .time {
  padding: 1rem;
}
.store-info__wrap__info__text .time p span {
  font-weight: bold;
}
@media screen and (max-width: 430px) {
  .store-info__wrap__info__text .time p:not(:first-child) {
    text-indent: 0;
  }
}
.store-info__wrap__info__text .access {
  padding: 1rem;
}
.store-info__wrap__info__text .access p span {
  font-weight: bold;
}
@media screen and (max-width: 430px) {
  .store-info__wrap__info__text .access p:not(:first-child) {
    text-indent: 0;
  }
}
.store-info__map {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #716A67;
  color: #fff;
  display: block;
  text-align: center;
  width: 100%;
  padding: 2vw;
}
.footer .copyright {
  font-size: 0.7rem; /*14px*/
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
.footer .copyright__partition {
  display: block;
}
@media screen and (max-width: 430px) {
  .footer .copyright__partition {
    display: none;
  }
}

.sp_br {
  display: none;
}
@media screen and (max-width: 430px) {
  .sp_br {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .animate__fadeInLeft {
    -webkit-animation: none;
            animation: none;
    transform: none;
    transition: unset;
  }
}