@charset "UTF-8";
html {
  font-size: 20px;
}

@media screen and (max-width: 960px) {
  html {
    font-size: 18px;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 430px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 10px;
  }
}

body {
  background: #fff;
  color: #716A67;
  font-family: "Fredericka the Great", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Noto Serif JP", serif;
}

a {
  color: #716A67;
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

li {
  list-style: none;
}

.ly-cont {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}
@media screen and (max-width: 1100px) {
  .ly-cont {
    max-width: none;
    margin: 0 15%;
  }
}
@media screen and (max-width: 800px) {
  .ly-cont {
    max-width: none;
    margin: 0 10%;
  }
}
@media screen and (max-width: 400px) {
  .ly-cont {
    max-width: none;
    margin: 0 5%;
  }
}

.header {
  background: #EAD7CC;
  font-family: "Noto Sans JP", sans-serif;
  height: 12vw;
  width: 100%;
  padding: 0 12vw;
  min-height: 60px;
  position: fixed;
  top: 0;
  z-index: 999;
  /*ハンバーガーメニュー*/
}
@media screen and (max-width: 800px) {
  .header {
    padding-left: 0;
    padding-right: 12vw;
  }
}
@media screen and (max-width: 430px) {
  .header {
    padding-right: 60px;
  }
}
.header__wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 5%;
  padding: 2vw 0;
}
.header__wrap__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.header__wrap__logo__upper {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 960px) {
  .header__wrap__logo__upper {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 800px) {
  .header__wrap__logo__upper {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 600px) {
  .header__wrap__logo__upper {
    font-size: 1.2rem;
  }
}
.header__wrap__logo__lower {
  font-size: 1.2rem;
  font-weight: bold;
}
.header__wrap__btn {
  background: #CF9F96;
  font-size: 1.2rem;
  height: 100%;
  text-align: center;
  margin: 5% 0;
  padding: 2% 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 1100px) {
  .header__wrap__btn {
    font-size: 1rem;
  }
}
@media screen and (max-width: 960px) {
  .header__wrap__btn {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 430px) {
  .header__wrap__btn {
    font-size: 0.6rem;
    padding: 1% 2%;
  }
}
.header__wrap__btn a {
  color: #fff;
}
.header__menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  /*MENUボタン*/
  /*メニュー表示*/
}
.header__menu__openbtn {
  background: #716A67;
  width: 12vw;
  height: 12vw;
  min-width: 60px;
  min-height: 60px;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}
.header__menu__openbtn__item {
  display: block;
  margin: 20%;
  width: 60%;
  height: 60%;
  position: absolute;
  z-index: 9999;
}
.header__menu__openbtn__item span {
  color: #fff;
  display: inline-block;
  width: 100%;
  transition: all 0.4s;
  position: absolute;
}
.header__menu__openbtn__item span:nth-of-type(1) {
  background: #fff;
  border-radius: 0.5vw;
  display: block;
  height: 1vw;
  top: 0;
}
.header__menu__openbtn__item span:nth-of-type(3) {
  background: #fff;
  border-radius: 0.5vw;
  display: block;
  height: 1vw;
  bottom: 0;
}
.header__menu__openbtn__item span:nth-of-type(2) {
  font-size: 2vw;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__menu__openbtn.active span:nth-of-type(1) {
  opacity: 1;
  transform: translateY(3.25vw) rotate(-45deg);
}
.header__menu__openbtn.active span:nth-of-type(3) {
  opacity: 1;
  transform: translateY(-3vw) rotate(45deg);
}
.header__menu__openbtn.active span:nth-of-type(2) {
  opacity: 0;
}
.header__menu__nav {
  background: #716A67;
  font-family: "Noto Sans JP", sans-serif;
  position: fixed;
  top: -120%;
  right: 0;
  width: 40%;
  height: 100vh;
  overflow-y: auto;
  z-index: 999;
  transition: all 0.6s;
}
.header__menu__nav__list {
  width: 100%;
  height: 100%;
  padding-top: 8em;
  padding-bottom: 1.25em;
  margin-left: auto;
  position: relative;
  z-index: 999;
}
.header__menu__nav__list__item {
  text-align: center;
  list-style: none;
  padding: 0 1.25em;
}
.header__menu__nav__list__item a {
  color: #fff;
  border-bottom: 1px solid;
  display: block;
  font-size: 100%;
  font-feature-settings: "palt";
  letter-spacing: -0.05em;
  padding: 0.75em 0;
}
.header__menu__nav__list__item:first-child a {
  border-top: 1px solid;
}
.header__menu__nav.panelactive {
  top: 0;
}

.mv {
  margin-top: 12vw;
  width: 100%;
  height: 50vw;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 600px) {
  .mv {
    height: 125.51vw;
    margin-top: 60px;
  }
}
.mv__text {
  width: 100%;
  height: 100%;
  padding: 5vw;
  position: absolute;
  top: 0;
}
@media screen and (max-width: 600px) {
  .mv__text {
    padding: 5vw;
  }
}
.mv__text__catch {
  z-index: 888;
}
@media screen and (max-width: 430px) {
  .mv__text__catch {
    top: 65px;
  }
}
.mv__text__catch__main {
  color: #CF9F96;
  font-size: 4.5vw;
  font-weight: bold;
  text-shadow: 3px 3px 0 #716A67;
}
@media screen and (max-width: 600px) {
  .mv__text__catch__main {
    font-size: 8.5vw;
    text-shadow: 1px 1px 0 #716A67;
  }
}
.mv__text__catch__sub {
  color: #fff;
  font-size: 2.3vw;
  font-weight: bold;
  text-shadow: 1px 1px 0 #716A67, -1px -1px 0 #716A67, -1px 1px 0 #716A67, 1px -1px 0 #716A67, 0px 1px 0 #716A67, -1px 0 #716A67, -1px 0 0 #716A67, 1px 0 0 #716A67;
}
@media screen and (max-width: 600px) {
  .mv__text__catch__sub {
    font-size: 5.5vw;
  }
}
.mv__text__strength {
  width: 50%;
  z-index: 888;
}
@media screen and (max-width: 600px) {
  .mv__text__strength {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-top: 40vw;
  }
}
.mv__text__strength__fix {
  width: 80%;
  background: #716A67;
  color: #fff;
  font-size: 1.6vw;
  font-weight: normal;
  display: block;
  text-align: center;
  padding: 0.5vw 0;
  margin-top: 1.4vw;
  margin-bottom: 1.4vw;
}
@media screen and (max-width: 600px) {
  .mv__text__strength__fix {
    font-size: 3.5vw;
    margin-left: auto;
    margin-right: auto;
  }
}
.mv__text__strength__list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .mv__text__strength__list {
    margin-top: 2vw;
    width: 100%;
  }
}
.mv__text__strength__list__item {
  background: #716A67;
  border-radius: 50%;
  color: #fff;
  font-size: 1.6vw;
  font-weight: normal;
  display: block;
  text-align: center;
  width: 13vw;
  height: 13vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .mv__text__strength__list__item {
    border-radius: 12.5vw;
    font-size: 3vw;
    width: 25vw;
    height: 25vw;
  }
}
.mv__img {
  width: 100%;
  height: 50vw;
}
@media screen and (max-width: 600px) {
  .mv__img {
    height: 125.51vw;
  }
}
.mv__img img {
  width: 100%;
  height: 100%;
}
.mv__img .pc {
  /* パソコンで見たときは"pc"のclassがついた画像が表示される */
  display: block !important;
  /* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
}
@media screen and (max-width: 600px) {
  .mv__img .pc {
    display: none !important;
  }
}
.mv__img .sp {
  /* パソコンで見たときは"pc"のclassがついた画像が表示される */
  display: none !important;
  /* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
}
@media screen and (max-width: 600px) {
  .mv__img .sp {
    display: block !important;
  }
}

.coupon {
  background: #efdfdc;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  width: 100%;
  height: 25vw;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}
@media screen and (max-width: 600px) {
  .coupon {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.coupon__img {
  width: 25.48vw;
  height: 100%;
}
.coupon__img img {
  width: 100%;
  height: 100%;
}
.coupon__content {
  color: #CF9F96;
  width: calc(100% - 25.48vw);
  height: 100%;
  padding: 2vw 4vw;
}
@media screen and (max-width: 1100px) {
  .coupon__content {
    padding: 2vw 8vw;
  }
}
.coupon__content__headline {
  font-size: 3.2vw;
}
.coupon__content__detail {
  display: flex;
  justify-content: space-between;
}
.coupon__content__detail .period {
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.coupon__content__detail .period span:first-child {
  border-top: 1px solid #CF9F96;
}
.coupon__content__detail .period span:last-child {
  border-bottom: 1px solid #CF9F96;
}
.coupon__content__detail__discount .price {
  font-size: 4.56vw;
  font-weight: bold;
}
.coupon__content__detail__discount__fix {
  font-size: 1.8vw;
  font-weight: bold;
}
.coupon__content__code__fix {
  font-size: 1.8vw;
  font-weight: bold;
}
.coupon__content__code .code {
  font-size: 4.56vw;
  font-weight: bold;
}
.coupon__content__lead span {
  font-size: 1vw;
}