@charset "utf-8";

// レスポンシブ用
$breakpoints: (
  "tb-x": "screen and (max-width: 1024px)",
  "tb": "screen and (max-width: 834px)",
  "tb-s": "screen and (max-width: 768px)",
  "sm-x": "screen and (max-width: 430px)",
  "sm": "screen and (max-width: 375px)",
  "sm-s": "screen and (max-width: 320px)",
);
@mixin bq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.swiper-container {

  @include bq(tb-s){
    padding-bottom: 50px;
    position: relative;
    overflow: hidden; /* パディングボックスに合わせて切り取られる */
  }

  .swiper-wrapper {

    @include bq(tb-s) {
      display: flex;
      width:100%;
    }

    .swiper-slide {

      @include bq(tb-s) {
        height: auto;
        text-align: center;

        // img {
        //   max-width: 100%;
        // }
      }
    }
  }

  .swiper-pagination {
    display: none;

    @include bq(tb) {
      // display: block;
      // position: static;

      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
    }
  }
}
