@charset "utf-8";

// レスポンシブ用
$breakpoints: (
  "tb-x": "screen and (max-width: 1100px)",
  "tb": "screen and (max-width: 960px)",
  "tb-s": "screen and (max-width: 800px)",
  "sm-x": "screen and (max-width: 600px)",
  "sm": "screen and (max-width: 430px)",
  "sm-s": "screen and (max-width: 400px)",
);
@mixin bq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.swiper-container {

  @include bq(tb){
    position: relative;
  }

  .swiper-wrapper {

    @include bq(tb) {
      display: flex;
      width:100%;
    }

    .swiper-slide {

      @include bq(tb) {
        height: auto;
        text-align: center;
      }
    }
  }

  .swiper-pagination {
    display: none;

    @include bq(tb) {
      // display: block;
      // position: static;

      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -20px;
      text-align: center;
    }
  }
}

.our-strength {
  .swiper-container {

  @include bq(tb){
    position: relative;
  }

  .swiper-wrapper {

    @include bq(tb) {
      display: flex;
      width:100%;
    }

    .swiper-slide {

      @include bq(tb) {
        height: auto;
        text-align: left;
      }
    }
  }
}
}
